.App {
  text-align: center;
  /* font-family: 'Charm', cursive; */
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Dancing Script', cursive; */
}

#root {
  margin: 80px
}

.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css?family=Charm|Dancing+Script|Shadows+Into+Light');

.fade-enter {
  opacity: 0.01;
  z-index: 1;
  /* transform: scale(2.5); */
  color: red;
}

.fade-exit {
  opacity: 1;
  z-index: 1;

}

.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fade-exit-active {
  opacity: 0;
  z-index: 1;
}